/* src/Pictures/Pictures.css */

.apod-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding-bottom: 4rem;
}

.apod-card {
  background: linear-gradient(to right, #211b35, #0d090f);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 150, 255, 0.2);
  backdrop-filter: blur(6px);
  color: #c5ced6;
  transition: transform 0.3s ease;
}

.apod-card:hover {
  transform: scale(1.02);
}

.apod-title {
  font-size: 1.2rem;
  color: rgb(129, 75, 255);
  margin-bottom: 0.5rem;
}

.apod-date {
  font-size: 0.9rem;
  color: rgb(31, 185, 212);
  margin-bottom: 0.5rem;
}

.apod-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.apod-video {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  border-radius: 8px;
  margin-bottom: 1rem;
}


.apod-explanation {
  font-size: 0.85rem;
  color: white;
  opacity: 0.9;
  text-align: justify;
}

@media (max-width: 480px) {
  .apod-card {
    padding: 1rem;
  }

  .apod-title {
    font-size: 1rem;
  }

  .apod-explanation {
    font-size: 0.8rem;
  }
}





